# Python virtual environments
.venv/
venv/

# Hadoop logs and temp files
logs/
*.log
tmp/
hadoop-cluster/

# OS and IDE junk
.DS_Store
*.swp
*.swo
__pycache__/
*.pyc

# Backup files
*~
*.bak

# Environment variables
# .env

# Processed data
processed_examples/

# Mock data
mock_data/
*.jl

# Test output
test_output/

# Ignore mapper and reducer files inside kafka/
kafka/batter_stats_mapper.py
kafka/batter_stats_reducer.py
kafka/pitcher_stats_mapper.py
kafka/pitcher_stats_reducer.py
kafka/team_stats_mapper.py
kafka/team_stats_reducer.py

# Ignore test output files
test_output/

